/*RTL CSS*/

.homepage-header {
  padding: 0 !important;
}

.homepage-header {
  position: relative;
  width: 100%;
}

.home .homepage-header {
  padding: 0 !important;
  position: absolute;
  width: 100%;
  right: 0px;
  left: 0px;
  z-index: 999;
  margin: 0 auto;
  background-color: transparent !important;
  border-radius: 0;
}

.homepage-header .wp-block-search__inside-wrapper {
  justify-content: end;
}

.homepage-header button.wp-block-search__button.has-text-color.has-base-color.has-background.has-icon.wp-element-button {
  padding: 0px;
}

.wp-site-blocks{
  padding: 0 !important;
}

.slider-banner {
  gap: 40px;
}

.slider-banner h2 span {
  background: var(--wp--preset--color--primary);
  padding: 0px 12px;
  margin-left: 10px;
}

.header-top p span {
  font-size: 22px;
  margin-left: 10px;
}

.project-box img {
  width: 100%;
}

.project-box .service-overlay {
  background-color: #00B7D7;
}

.project-box {
  box-shadow: 0 0px 8px #00000029;
}

.project-box:hover .service-overlay img {
  opacity: 0.3 !important;
}

.project-box:hover .project-content h4,
.project-box:hover .project-content p {
  color: #fff !important;
}

.project-box:hover .project-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  left: 0px;
}

.project-box:hover .service-btn {
  display: block !important;
  text-align: center;
}

.project-box {
  position: relative;
}

.project-box img {
  height: 400px;
  width: 100%;
}

.project-box:hover img {
  height: 513px;
  object-fit: cover;
}

.service-btn {
  display: none !important;
}

footer.wp-block-template-part {
  margin-top: 0;
}
@media screen and (max-width: 375px) {
  .main-header .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex{
    max-width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .right-box ul li a{
    color: #ffffff !important;
  }

  span.wp-block-navigation-item__label {
    color: #ffffff;
  }

  .right-box ul li a:hover:after {
    display: none;
  }

  .banner-content{
    text-align: center;
  }

  .banner-btn {
    justify-content: center;
  }
}
@media screen and (min-width: 801px) {
  .menu-box {
    padding-right: 45px;
  }
}
@media screen and (min-width: 320px) and (max-width: 800px) {
   .header-top p {
    justify-content: center;
  }

  .wp-header-search-social {
    justify-content: center;
  }

  .right-box ul {
    justify-content: center;
  }

  .home .homepage-header {
    position: relative;
    background: #000000 !important;
  }
  .header-top p{
    text-align: center;
  }

  .logo-box h1 {
    text-align: center;
  }
  .homepage-header .wp-block-search__inside-wrapper{
    justify-content: center;
  }
  .banner-content h2 {
    font-size: 17px !important;
  }
  .right-box {
    padding-left: 0px !important;
    border: 0px !important
  }

  .project-box:hover .project-content {
    right: 20px;
    left: 20px;
  }

  .right-box nav,
  .wp-block-search__inside-wrapper {
    justify-content: center;
  }

  .project-box img {
    height: 250px;
    width: 100%;
  }

  .project-box:hover img {
    height: 379px;
    object-fit: cover;
  }

  .banner-cover {
    min-height: 400px !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 781px) {
  .service-box {
    display: grid !important;
    justify-content: center;
    grid-template-columns: auto auto !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .project-box img {
    height: 250px;
    width: 100%;
  }

  .project-box:hover img {
    height: 379px;
    object-fit: cover;
  }

  .project-content h4 {
    font-size: 16px !important;
  }

  .home .homepage-header {
    position: relative;
    background: #000000 !important;
  }

  .header-top-box {
    max-width: 95% !important;
  }

  .header-top-box p {
    font-size: 12px !important;
  }

  .main-box-service {
    max-width: 90%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .slider-banner {
    max-width: 80% !important;
  }

  .topheader {
    gap: 0px !important;
  }

  .right-box nav ul {
    gap: 25px !important;
  }

  .logo-box {
    flex-basis: 20% !important;
  }

  .right-box {
    flex-basis: 80% !important;
  }

  .topheader p {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .main-box-service {
    max-width: 80%;
  }

  .right-box nav ul {
    gap: 19px !important;
  }

  .slider-banner {
    max-width: 80% !important;
  }

  .header-top p {
    font-size: 14px !important;
  }

}

@media screen and (min-width: 320px) and (max-width: 800px) {

  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
  ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
    justify-content: center !important;
    gap: 30px !important;
  }
}